# python 3.10
python-magic
ollama==0.3.0
beautifulsoup4==4.12.3
nltk
chromadb==0.4.24
Requests==2.31.0
pdfminer.six
gradio
pygame
streamlit
langchain
langchain-experimental
langchain-community
docx2txt